{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load templatetags %}

{% block content %}
 {% if user.is_authenticated and user.profile.user_type == 'Manager' %}
 <div class="table-responsive" >
      <table  id="allcustomers">


          <thead>
                <tr>
                  <th >Customer Name</th>
                  <th >Contact Number</th>
                  <th >Address</th>
                  <th>Email id</th>
                  <th>Image</th>
                </tr>
          </thead>

          <tbody>
          {% for data in customerinfo %}
            {% if data.user_type == 'Customer' %}
            <tr>
            
            <td> <a style="text-decoration:none;" href="{% url 'customer_ledger'  pk=data.user.pk %}" class="btn btn-link"><strong>{{ data.user.first_name}} {{data.user.last_name }}</strong></a></td>
            <td>{{ data.contact_number}}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.user.email}}</td>
            <td>{{ data.image_tag}}</td>
            </tr>
            {% endif %}
        {% endfor %}
          </tbody>
      </table>
  </div>
<script>
    $(document).ready( function () {
        $('#allcustomers').DataTable();
    });

</script>
{% endif %}
{% endblock %}