{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load templatetags %}


{% block content %}


<h2 class="vendor_name_heading"><strong>{{ customer_full_name }}</strong></h2>


<div class="table-responsive">
        <table class="table table-bordered">
          <thead>
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">Date</th>
                <th scope="col">Milk Type</th>
                <th scope="col">Quantity(Liter)</th>
                <th scope="col">Save</th>
              </tr>
            </thead>

        <tbody>
          <form action="\customer_ledger_save\" method="POST">{% csrf_token %}
              <tr>
               <td scpoe="col">
                 <div class="form-row">
                   <div class="col">
                     <select  class="form-control" id="customer" name="customer">
                          <option value="{{ customer_obj.pk }}"> {{ customer_obj.first_name }} {{ customer_obj.last_name }} </option>
                        </select>
                        </div>
                      </div>
                      </td>

                <td scpoe="col">
                  <div class="form-row">
                    <div class="col">
                      <p><input class="form-control" type="text" name="date" id="datepicker"></p>
                    </div>
                  </div>
                </td>
                <td scpoe="col">
                  <div class="form-row">
                    <div class="col">
                      <select  class="form-control" id="milktype" name="milktype">
                        {% for milk, milk_pk in milk_list %}
                        <option value="{{ milk_pk }}"> {{milk}} </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </td>
                <td scpoe="col">
                  <div class="form-row">
                    <div class="col">
                      <input type="name" class="form-control"  name="quantity" placeholder="0"  pattern="\d+">
                    </div>
                  </div>
                </td>
                <td scpoe="col">
                  <div class="form-row">
                    <div class="col">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </div>
                </td>
              </tr>
            </form>


            </tbody>
        </table>
    </div>


<h3 style="opacity: 0;"><a href="#" class="btn btn-warning" id="btnLedger">Print</a></h3>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Print Specific Ledger
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Customer Ledger</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <form action="customer_ledgerRange" method="get" id="customerLegerRangeForm">
                {% csrf_token %}
              <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="date-from" class="col-form-label">Date From:</label>
                            <input type="text" class="form-control" id="date-from">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="date-to" class="col-form-label">Date To:</label>
                            <input type="text" class="form-control" id="date-to">
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="printAction" class="btn btn-primary">Print</button>
              </div>
            </form>
    </div>
  </div>
</div>
  <div class="table-responsive">
      <table class="table table-bordered table-striped ledgerTable" id="customerLedger">


        <thead>
          <tr>
                <th scope="col">No.</th>
                <th scope="col">Date</th>
                <th scope="col">Milk Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>

        <tbody>
          {% for ledger in customer_ledger_info %}

          <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ ledger.date }}</td>
            <td>{{ ledger.related_milk_category.animalname }} RS {{ ledger.related_milk_category.milkprice }}</td>
            <td> RS {{ ledger.price }}</td>
            <td> {{ ledger.quantity }} L</td>
            <td>RS {% multiply ledger.quantity ledger.price %} </td>


            <td>
              <form action="{% url 'customer_ledger_delete' %}" method="POST">{% csrf_token %}
                <button class="btn btn-info form-control"type="submit" name="customer_pk" value="{{ledger.pk}}">Delete</button>
                </form>
                </td>
          </tr>
{% endfor %}

          </tbody>
      </table>

      <table>
          <tbody>
              <tr>
                <td colspan="4"></td>
                <td id="totalid"><strong>Total:-{{ alltotal }}</strong></td>
              </tr>
          </tbody>
      </table>
  </div>


<!-- Script for datepicker -->
<!-- <script>
$( function() {
  $( "#datepicker" ).datepicker();
  $( "#datepicker" ).datepicker("show");

  // $( "#datepicker" ).datepicker("setDate","0");
} );
</script> -->



{% endblock %}
